/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

.header {
  ion-grid {
    background-color: #2f558d;
    padding-bottom: 25px;
  }

  ion-button {
    color: white;
  }

  ion-button:hover {
    text-decoration: underline;
  }
}

.perfil {
  ion-row {
    background-color: #2f558d;
  }

  ion-col {
    padding: 0;
  }

  img {
    padding: 20px;
    width: 70%;
    height: 100%;
    border-radius: 50%;
  }
h1 {
  font-size: 60px;
}
  p {
    margin-top: 10px;
  }
}

.noticia {
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 12px;
    word-wrap: break-word;
  }

}

.verTudo {
  text-align: center;
  margin-right: 25%;

  ion-button {
    font-size: 16px;
    color: blue;
    font-weight: bolder;
  }

  ion-button:hover {
    text-decoration: underline;
  }
}
